.container {
  background-color: #fff;
  padding: 1rem;
  width: 25rem;
  max-width: 90vw;
  height: 24rem;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #e4e5e6;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 0 5px 1px #e4e5e6;
}

.container h1 {
  margin-top: 0;
}

.email {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.email label {
  font-weight: 500;
}
.email input {
  padding: 0.5rem;
  width: 95%;
}

.password {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.password label {
  font-weight: 500;
}
.password input {
  padding: 0.5rem;
  width: 95%;
}
